*{
    box-sizing: border-box;
}
body{
    outline: 1px solid red;
    margin: auto;
    padding: 0;
    font: 15px Helvetica,Arial,sans-serif;
    max-width: 1920px;
    min-width: 320px;
    color: #7a7a7a;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1550px;
    margin: 0 auto;
    padding: 0 12px;
}

$primaryColor: #7D0505;
$linkImg: "../img/telephone-fill.svg";
$linkImg2: "../img/telephone-fill2.svg";

@mixin btn($top, $left, $bgc:#9D0403, $img:$linkImg) {
    font-size: 19px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 3px;
    padding-left: 40px;
    @content;
    &:hover {
        color: #fff;
    }
    &::before {
        content: '';
        position: absolute;
        width: 33px;
        height: 33px;
        background: $bgc;
        border-radius: 50%;
        top: $top;
        left: $left;
        background-image: url($img);
        background-repeat: no-repeat;
        background-position: center;
        transition: .5s;
        @content;
    }
    &:hover::before {
        background-color: #c30808;
        @content;
    }
}
//Header
.header {
    background-image: url(../img/headerFon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.header__box {
}
.header__top {
    background: rgba(255,255,255,0.8);
    min-height: 90px;
    position: absolute;
    width: 100%;
    left: 0;
}
.header__top-container{
    max-width: 1550px;
    margin: 0 auto;
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-button {
    color:#fff;
    background-color: $primaryColor;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 10px 10px 10px 40px;
    border-radius: 5px;
    position: relative;
    transition: .3s;
    &:hover {
        color: #fff;
        background-color: #a00606;
    }
    &::before {
        content: '';
        position: absolute;
        background-image: url(../img/telephone-fill.svg);
        width: 16px;
        height: 16px;
        left: 13px;
        top: 12px;
    }
}
.header__bottom {
    min-height: 809px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 200px 0px 30px;
}
.header__inner {
    background: rgba(0,0,0,0.5);
    padding: 80px 66px;
    min-width: 493px;
    max-width: 600px;
    min-height: 220px;
    text-align: center;
}
.header__title {
    color: #fff;
    font-size: 44px;
    text-transform: uppercase;
    font-weight: 600;
}
.header__inner2 {
    background-color: $primaryColor;
    padding: 23px 50px;
    max-width: 460px;
    width: 100%;
    min-height: 112px;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(50%);
}
.header__contacts {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}
.header__button-contacts {
    @include btn(55px, 48px);
}
//Painter
.painter {
    margin: 100px 0 0;
    padding-bottom: 100px;
    border-bottom: 1px solid #D8D8D8;
}
.painter__box {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    gap: 20px;
}
.painter__inner-img {
    position: relative;
}
.painter__inner-img::before {
    width: 462px;
    height: 189px;
    content: "";
    position: absolute;
    max-width: 100%;
    background: #740505;
    left: -38px;
    bottom: -38px;
    z-index: -1;
}
.painter__image {
    border: 6px solid #fff;
    box-shadow: 0 0 28px -3pxrgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 28px -3px rgb(0 0 0 / 50%);
    max-width: 615px;
}
.painter__author {
    padding-top: 50px;
}
.painter__title {
    font-size: 41px;
    font-weight: 700;
    color: #1C1C1C;
    margin-bottom: 30px;
}
.painter__text {
    font-size: 16px;
    color: #444;
    font-weight: 400;
    line-height: 30px;
}
//services
.services {
    padding: 92px 0px 42px;
}
.services__title {
    font-size: 41px;
    font-weight: 600;
    color: #1C1C1C;
    margin-bottom: 50px;
    text-align: center;
}
.services__box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.services__inner {
    display: flex;
    align-items: center;
    gap: 20px;
}
.services__name {
    font-size: 17px;
    color: #1C1C1C;
    font-weight: 600;
}
//master
.master {
    background-color: $primaryColor;
}
.master__box {
    border-left: 1px solid #fff;
    padding: 50px 0 50px 48px;
    max-width: 1400px;
    margin:50px auto 150px;
}
.master__title {
    font-size: 41px;
    color: #fff;
    font-weight: 500;
    margin: 0 0 30px;
}
.master__text {
    font-size: 19px;
    color: #fff;
    font-weight: 300;
    line-height: 30px;
}
//Slider
.slider {
    margin-top: -100px;
}
.slider__items {
    padding: 0 10px;
}
.slider__item {
    border-radius: 25px;
    width: 100%;
}
//Contacts

.contacts__box {
    background-color: $primaryColor;
    text-align: center;
    padding: 50px 5px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        background-image: url(../img/telephone-fill3.svg);
        background-repeat: no-repeat;
        background-size: cover;
        left: 0;
        top: 0;
        width: 183px;
        height: 183px;
    }
}
.contacts__title {
    font-size: 34px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 15px;
    line-height: 47px;
}
.contacts__btn {
    position: relative;
    @include btn(-7px, -10px, #fff, $linkImg2){
        font-size: 20px;
        &:hover::before {
            background-color: gold !important;
        }
    };
}
//technology
.technology {
    background-color: #C3C3C3;
}
.technology__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.technology__title {
    font-size: 41px;
    font-weight: 600;
    color: #1C1C1C;
    margin-top: 60px;
    margin-bottom: 46px;
    line-height: 60px;
}
.technology__text {
    font-size: 16px;
    color: #444;
    font-weight: 500;
    line-height: 34px;
}
.technology__img {
    width: 100%;
}