* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  outline: 1px solid red;
  margin: auto;
  padding: 0;
  font: 15px Helvetica, Arial, sans-serif;
  max-width: 1920px;
  min-width: 320px;
  color: #7a7a7a;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1550px;
  margin: 0 auto;
  padding: 0 12px;
}

.header {
  background-image: url(../img/headerFon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header__top {
  background: rgba(255, 255, 255, 0.8);
  min-height: 90px;
  position: absolute;
  width: 100%;
  left: 0;
}

.header__top-container {
  max-width: 1550px;
  margin: 0 auto;
  padding: 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-button {
  color: #fff;
  background-color: #7D0505;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 10px 10px 10px 40px;
  border-radius: 5px;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header-button:hover {
  color: #fff;
  background-color: #a00606;
}
.header-button::before {
  content: "";
  position: absolute;
  background-image: url(../img/telephone-fill.svg);
  width: 16px;
  height: 16px;
  left: 13px;
  top: 12px;
}

.header__bottom {
  min-height: 809px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 200px 0px 30px;
}

.header__inner {
  background: rgba(0, 0, 0, 0.5);
  padding: 80px 66px;
  min-width: 493px;
  max-width: 600px;
  min-height: 220px;
  text-align: center;
}

.header__title {
  color: #fff;
  font-size: 44px;
  text-transform: uppercase;
  font-weight: 600;
}

.header__inner2 {
  background-color: #7D0505;
  padding: 23px 50px;
  max-width: 460px;
  width: 100%;
  min-height: 112px;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transform: translateY(-70%);
      -ms-transform: translateY(-70%);
          transform: translateY(-70%);
}

.header__contacts {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}

.header__button-contacts {
  font-size: 19px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 3px;
  padding-left: 40px;
}
.header__button-contacts:hover {
  color: #fff;
}
.header__button-contacts::before {
  content: "";
  position: absolute;
  width: 33px;
  height: 33px;
  background: #9D0403;
  border-radius: 50%;
  left: 48px;
  top: 55px;
  background-image: url(../img/telephone-fill.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.header__button-contacts:hover::before {
  background-color: #c30808;
}

.painter {
  margin: 100px 0 0;
  padding-bottom: 100px;
  border-bottom: 1px solid #D8D8D8;
}

.painter__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.3fr;
  grid-template-columns: 1fr 1.3fr;
  gap: 20px;
}

.painter__inner-img {
  position: relative;
}

.painter__inner-img::before {
  width: 462px;
  height: 189px;
  content: "";
  position: absolute;
  max-width: 100%;
  background: #740505;
  left: -38px;
  bottom: -38px;
  z-index: -1;
}

.painter__image {
  border: 6px solid #fff;
  box-shadow: 0 0 28px -3pxrgba 0, 0, 0, 0.5;
  -webkit-box-shadow: 0 0 28px -3px rgba(0, 0, 0, 0.5);
  max-width: 615px;
}

.painter__author {
  padding-top: 50px;
}

.painter__title {
  font-size: 41px;
  font-weight: 700;
  color: #1C1C1C;
  margin-bottom: 30px;
}

.painter__text {
  font-size: 16px;
  color: #444;
  font-weight: 400;
  line-height: 30px;
}

.services {
  padding: 92px 0px 42px;
}

.services__title {
  font-size: 41px;
  font-weight: 600;
  color: #1C1C1C;
  margin-bottom: 50px;
  text-align: center;
}

.services__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.services__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.services__name {
  font-size: 17px;
  color: #1C1C1C;
  font-weight: 600;
}

.master {
  background-color: #7D0505;
}

.master__box {
  border-left: 1px solid #fff;
  padding: 50px 0 50px 48px;
  max-width: 1400px;
  margin: auto;
}

.master__title {
  font-size: 41px;
  color: #fff;
  font-weight: 500;
  margin: 0 0 30px;
}

.master__text {
  font-size: 19px;
  color: #fff;
  font-weight: 300;
  line-height: 30px;
}